<div class="row">
  <div class="col-sm-8">
    <img src="{{photo.url}}" alt="" class="mw-100">
  </div>
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item"><strong>Id:</strong> {{photo.id}}</li>
      <li class="list-group-item"><strong>Name:</strong> {{photo.name}}</li>
      <li class="list-group-item"><strong>Added:</strong> {{photo.date}}</li>
    </ul>
    <hr>
    <h5>Description:</h5>
    <p>{{ photo.caption }}</p>
    <button class="btn btn-warning" (click)="openModal()" >Edit</button>
  </div>   
</div>
