<div class="text-center" *ngIf="!isLoaded"><vpb-loader></vpb-loader></div>
<div *ngIf="isLoaded">
  <div class="row" >
    <div class="col-sm-12">
      <p>
        <a [routerLink]="'/gallery'"><i class="fa fa-arrow-left"></i>&nbsp;<strong>Back to gallery</strong></a>
      </p>
      <div class="alert alert-{{message.type}}" *ngIf="message.text" >
        {{ message.text }}
      </div>
    </div>
    <vpb-viewphoto 
      [photo]="photo"
      (onModalOpen)="openModal()" 
    ></vpb-viewphoto>
  </div>
  <div *ngIf="isModalOpen">
    <vpb-edit-modal 
      (onModalCancel)="onModalCancel()"
      (onPhotoEdit)="photoWasEdited($event)"
      [photo]="photo"
      [albums]="albums"
    ></vpb-edit-modal>
  </div>
</div>
