<div class="text-center" *ngIf="!isLoaded" ><vpb-loader></vpb-loader></div>
<div class="col-sm-8 offset-2 " *ngIf="isLoaded">
  <div class="alert alert-{{message.type}}" *ngIf="message.text" >
    {{ message.text }}
  </div>
  <vpb-albumform
    (onAlbumAdd)="albumWasAdded($event)"
  ></vpb-albumform>
  <hr>
  <h3>Albums list</h3>
  <ul class="list-group">
    <vpb-albumitem
      *ngFor="let album of albums"
      [album]="album"
      (onAlbumDeleted)="albumWasDeleted($event)"
      (onAlbumUpdated)="albumWasUpdated($event)"
    >
    </vpb-albumitem>
  </ul>
</div>
